@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  color: $text-color;
  line-height: 1.6875;

  @media (max-width: $tablet) {
    font-size: 14px;
  }
}

[class*="__container"] {
  max-width: $containerWidth;
  margin: 0 auto;
  padding: 0 15px;
}

.none {
  display: none;
}
