$text-color: #323232;
$accent-color: #f78434;
$accent-color-hover: #ff6a00;


$placeholder-color: #bbb;


$advantage-img-fill-color: #58BEBF;



$containerWidth: 1140px;

$pc: 1139.98px; // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: 991.98px; // Планшети, деякі телефони в горизонтальному положенні
$mobile: 767.98px; // Телефони L
$mobileSmall: 479.98px; // Телефони S
